<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Formulaires de conversion</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
</head>
<body>
    <h1>Volumes</h1>
    {% include 'unit-converter.twig' with {
        type: 'volume',
        current_value_to_convert: current_volume_to_convert,
        current_value_unit_converted: current_volume_unit_converted,
        current_value_unit_to_convert: current_volume_unit_to_convert,
        value_units: volume_units,
        value_converted: volume_converted,
    } only %}

    <h1>Poids</h1>
    {% include 'unit-converter.twig' with {
        type: 'weight',
        current_value_to_convert: current_weight_to_convert,
        current_value_unit_converted: current_weight_unit_converted,
        current_value_unit_to_convert: current_weight_unit_to_convert,
        value_units: weight_units,
        value_converted: weight_converted,
    } only %}
</body>
</html>
